body {
  font-family: 'Cabin', sans-serif;
}

.flickr {
  width: 10em;

  z-index: auto;
}
#tabs {
  //UL's
  display: block;
  margin: 0;
  padding: 0;
}
.tab-1 {
  //Li's
  list-style: none;
  padding-bottom: 5em;
  .active-content {
    height: 20em;

  }
}
.tab-2 {
  //Li's
  list-style: none;
  padding-bottom: 5em;
  .active-content {
    height: 20em;
  }
}
button {
  width: 100%;
  margin: 0;
}
#weather {
  background-image: linear-gradient(to top, #CFD1D0, #696165);
}
#nytimes {
  background-image: linear-gradient(to top, #CFD1D0, #696165);
}
.icon {
  width: 1em;
}
.active-content {
  display: block;
}
.inactive-content {
  display: none;
}
#weather-data{
  display: inline-block;
  list-style:none;
}
.cityName{
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
}
.cityTemp{
  float: left;
  position: relative;
  right: 10em;
  top:2em;
  font-size: 1.5em;
}

.cityDescription{
  float: right;
  position: relative;
  left:8.5em;
  top:2em;
  font-size: 1.5em;
}
.active-content{
  display: block;
}
.articleTitle{
  font-size: 2em;
  text-decoration: underline;
}
.articleAbstract{
  color: darkgrey;
  float: left;

}
.articleUrl{
  color: black;
}
