body{
  font-family: 'Cabin', sans-serif;
}

#container{

}
#tabs{ //UL's
  display: block;
  margin: 0;
  padding: 0;
  height: 40em;
}

.info{//Li's
  list-style: none;
  height: 20em;
}
button{
  width: 100%;
  margin: 0;
}

#weather {
  background-image: linear-gradient(to top, #CFD1D0, #696165);
}

#nytimes {
  background-image: linear-gradient(to top, #CFD1D0, #696165);
}
img{
  width: 1em;
}
